<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - App Landing Page</title>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Roboto:100,300,400,400i|Titan+One" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"><link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>

<link rel="stylesheet" href="/safety/includes/codepen/landing/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
	<nav>
		<div class="logo">
			<h1>Safety <span> | FreshWeb</span></h1>
		</div>
		</ul>
	</nav>
</header>
<!-- MIDDLE CONTENT -->
<div class="middle-header">
	<div class="main">
		<!-- TYPER -->
		<h1 class="aqua"><i class="fas fa-video"></i></h1>
		<!-- TYPER END -->
		<div class="line"></div>
		<p>اسمح لاشخاص محددة فقط في مشاهدة فديوهاتك العظيمة </p>
		
		<button>
			<a href = "#singUp">
				انشر فديوهاتك الان 
			</a>
			<i class="far fa-arrow-alt-circle-down"></i></button>
	</div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'>
  	
  </script><script  src="/safety/includes/codepen/landing/script.js"></script>

</body>
</html>
